[package]
name = "decentraland-godot-lib"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
godot = { git = "https://github.com/godot-rust/gdext", rev = "aa29debf", features = ["threads"] }
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0.92", features = ["raw_value"] }
tokio = { version = "1.26.0", features = ["sync", "rt-multi-thread", "net"] }
protobuf = "3.2.0"
prost = "0.11.8"
once_cell = "1.16.0"
futures-lite = "1.12.0"
num-traits = "0.2"
num-derive = "0.3"
num = "0.4"
v8 = { path = "/home/user/Documents/github/rusty_v8" }
hyper = { version = "1.0.0-rc.3", features = ["full"] }
http-body-util = "0.1.0-rc.2"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls", "blocking"] }
regex = "*"
urn = "0.7.0"
ethers = { version = "2.0", features = ["rustls"] }
async-trait = "0.1.68"
poll-promise = "0.2.0"
log-panics = { version = "2", features = ["with-backtrace"]}

cpal = "0.15.2"
# ffmpeg-next = "6.0.0"
ffmpeg-next = { path = "../../../rust-ffmpeg" }
thiserror = "1.0"
anyhow = "1.0.70"
# todo: use isahc 2.0 when it's released
isahc = { git = "https://github.com/sagebind/isahc", rev="096aff7b13f4ff5bb474fdc27bc30b297a2968f6", default-features = false, features = ["json", "text-decoding", "http2", "rustls-tls-native-certs"] }
kira = "0.8.4"

tracing = "0.1"
tracing-subscriber = "0.3"

[build-dependencies]
prost-build = "0.11.8"
