[package]
name = "decentraland-godot-lib"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
godot = { git = "https://github.com/godot-rust/gdext", rev = "aa29debf", features = ["custom-godot"] }
rand = "0.8"
serde = "1.0.152"
serde_json = { version = "1.0.92", features = ["raw_value"] }
tokio = { version = "1.26.0", features = ["sync", "rt-multi-thread", "net"] }
protobuf = "3.2.0"
prost = "0.11.8"
once_cell = "1.16.0"
futures-lite = "1.12.0"
num-traits = "0.2"
num-derive = "0.3"
num = "0.4"
v8 = "0.74.2"
hyper = { version = "1.0.0-rc.3", features = ["full"] }
http-body-util = "0.1.0-rc.2"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls", "blocking"] }
regex = "*"
urn = "0.7.0"

[build-dependencies]
prost-build = "0.11.8"

[dev-dependencies]
httpmock = "0.6"
