name: Android Build

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch name'
        required: true
        default: 'main'

jobs:
  build:
    runs-on: self-hosted-ubuntu

    strategy:
      matrix:
        branch: [ ${{ github.ref }} ]
    if: ${{ github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && github.event.inputs.branch) }}

    container:
      image: docker://kuruk/dcl-godot-android-builder:latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}
      - name: Setup Rust
        run: |
          echo $ANDROID_HOME
          ls -la /root/
          ls -la /root/.cargo/bin/
          export PATH="/root/.cargo/bin:${PATH}"
          rustup default stable
          rustup target add aarch64-linux-android
          rustup target add x86_64-linux-android
      - name: Build
        run: |
          bash build-android-apk.sh
      - uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: Android APK
          path: |
            android.apk
