on:
  push:
    branches:
    - main

  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch name'
        required: true
        default: 'main'

name: Quest & Android Builds

jobs:
  build:
    runs-on: bigrunner
    container:
      image: docker://kuruk/dcl-godot-android-builder:latest
      volumes:
      - /home/user/.cache/devgodot:/github/home/.cache/devgodot
    strategy:
      fail-fast: false
      matrix:
        export-preset: [Android, Quests]
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event_name == 'push' && github.ref || github.event.inputs.branch }}
    - name: Install Android targets
      run: |
        echo $PATH
    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.77.2
        override: true
        components: clippy, rustfmt

    - name: Install Android targets
      run: |
        rustup target add aarch64-linux-android
        rustup target add x86_64-linux-android
    - name: Build
      run: |
        bash build-android-apk.sh ${{ matrix.export-preset }}

    # if libdclgodot.so does not exist, the build failed, nothing to upload
    - name: Copy artifacts
      if: success() || failure()
      run: |
        mkdir -p android-artifacts
        mv godot/lib/android/arm64/libdclgodot.so android-artifacts/
        mv android.apk android-artifacts/ || true
        mv android-unsigned.aab android-artifacts/ || true

    - uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: Android APK
        path: android-artifacts/
